/* ///////////////////// */
/* 🌶️🌶️🌶️ FONTFACES 🌶️🌶️🌶️ */
/* ///////////////////// */

@font-face {
  font-family: ;
  src: url();
}

/* //////////////////////// */
/* 🪐🪐🪐 CSS REMEDIES 🪐🪐🪐 */
/* //////////////////////// */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  /* COLOURS */
  --paper-color: #F1F1EF;
}

/* ////////////////// */
/* 🤠🤠🤠 HEADER 🤠🤠🤠 */
/* ////////////////// */

header {
  padding: 1rem;
}

/* ////////////////// */
/* 🫒🫒🫒 FOOTER 🫒🫒🫒 */
/* ////////////////// */

footer {
  padding: 1rem;
}
