<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/client/index.js" defer></script>
  {% else %}
    <link rel="stylesheet" href="/server/layouts/base.css">
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          {% comment %} <button id="captureBtn" class="capture-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                  <circle cx="8.5" cy="8.5" r="1.5"></circle>
                  <polyline points="21 15 16 10 5 21"></polyline>
              </svg>
          </button> {% endcomment %}
        </li>
        <li>
          <h1>After party</h1>
        </li>
        <li class="container-button">
          <button id="shareBtn" class="share-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <circle cx="18" cy="5" r="3"></circle>
                  <circle cx="6" cy="12" r="3"></circle>
                  <circle cx="18" cy="19" r="3"></circle>
                  <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                  <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
            </svg>
          </button>
          <div class="result"></div>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Made by Abby de Best, Artélier Chilli @2025</p>
  </footer>
</body>
</html>
