/* ///////////////////// */
/* 🌶️🌶️🌶️ FONTFACES 🌶️🌶️🌶️ */
/* ///////////////////// */

@font-face {
  font-family: Alinsa ;
  src: url(/public/fonts/Alinsa.otf);
}

@font-face {
  font-family: New Edge;
  src: url(/public/fonts/NewEdgeTMTest-Medium.otf);
}

/* //////////////////////// */
/* 🪐🪐🪐 CSS REMEDIES 🪐🪐🪐 */
/* //////////////////////// */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  /* COLOURS */
  --paper-color: #F1F1EF;
  --deep-grey: #161616;
  --brown-red: #5E0921;
  --brown-red-opacity: #5e09215f;

  /* FONTS */
  --alinsa: 'Alinsa', sans-serif, Arial, Helvetica, sans-serif;
  --new-edge: 'New Edge', sans-serif, Arial, Helvetica, sans-serif;

  /* FONT SIZES */
  --logo: 2rem;
  --h1:;
  --h2:;
}

a {
  color: var(--paper-color);
  text-decoration: none;
  font-family: var(--new-edge);
}

/* /////////////////////////// */
/* 💗💗💗 TEXT FORMATTING 💗💗💗 */
/* ////////////////////////// */

p {
  color: var(--paper-color);
}

/* //////////////// */
/* 🤎🤎🤎 BODY 🤎🤎🤎 */
/* //////////////// */

body {
  background-color: var(--deep-grey);
  font-family: var(--new-edge);
}

/* /////////////////// */
/*  */
/* ////////////////// */

main {
  padding: 0;
}

/* ////////////////// */
/* 🤠🤠🤠 HEADER 🤠🤠🤠 */
/* ////////////////// */

header {
  width: 100vw;
  height: auto;
}

nav {
  width: 100%;
  height: auto;
  padding: 1rem;
  font-family: var(--alinsa);
  font-size: var(--logo);
  color: var(--paper-color);
}

ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

li {
  width: auto;
  height: auto;
}

/* ////////////////// */
/* 🫒🫒🫒 FOOTER 🫒🫒🫒 */
/* ////////////////// */

footer {
  padding: 1rem;
}
