/* ////////////////////////////// */
/* 🫶🏼🫶🏼🫶🏼 INDEX/HOME STYLING 🫶🏼🫶🏼🫶🏼 */
/* ////////////////////////////// */

/* .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */

/* /////////////////// */
/* 🎞️🎞️🎞️ CONTENT 🎞️🎞️🎞️ */
/* /////////////////// */

.summary {
  width: auto;
  height: auto;
  margin: 1rem;
  /* background-color: ; */
  position: absolute;
}

summary::marker {
  content: none;
}

.journal {
/*   background-color: pink; */
  width: 100vw;
  height: 100vh;
  position: relative;
}

.binder > ul {
  height: 95vh;
  width: .8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.binder li {
  width: .8rem;
  height: .8rem;
  background-color: pink;
  border-radius: 1rem;
  /* position: absolute; */

}
  
.journal::before {
  content: "";
  display: block;
  position: absolute;
  left: 1.5rem;
  z-index: -1;
    
  width: 45vw;
  height: 95vh;
  border-radius: .3rem;
  background-color: var(--paper-color);
}
  
.journal::after {
  content: "";
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 0;
  z-index: -1;
    
  width: 45vw;
  height: 95vh;
  border-radius: .3rem;
    
  background-color: var(--paper-color);
}
  
.dropzone {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}

.dropzone.over {
  background-color: pink;
  border: red;
}